*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(166, 213, 239);
}

h3{
    font-size: 72px;
    background-clip: text;
    font-family: cursive;
    text-align: center;
    margin-top: 30px;
}

h3:hover{
    cursor:not-allowed;
}